my2flow
[
    {
        "id": "1e15f63c.2df7ea",
        "type": "inject",
        "z": "8fecf4fd.534a68",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 264,
        "y": 129,
        "wires": [
            [
                "7a5309a0.784dd8",
                "75ed15b.beb5aec"
            ]
        ]
    },
    {
        "id": "7a5309a0.784dd8",
        "type": "debug",
        "z": "8fecf4fd.534a68",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 730,
        "y": 186,
        "wires": []
    },
    {
        "id": "75ed15b.beb5aec",
        "type": "debug",
        "z": "8fecf4fd.534a68",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 688,
        "y": 95,
        "wires": []
    }
]
